@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.치료::after {
    content: "";
    display: block;
    clear: both;
}

.전체 {
    color: red;
    width: 1000px;
    margin: 30px auto 0;
    padding: 20px;
    background-color: gray;
    height: 600px;
}

.전체 .첫째 {
    background-color: #F2DEBA;
    padding: 20px;
}

.전체 .첫째 .첫자 {
    background-color: #DEBACE;
    width: 32%;
    height: 200px;
    float: left;
    margin-right: 2%;
}

.전체 .첫째 .첫자.첫자1 {
    position: relative;
    overflow: hidden;
}

.전체 .첫째 .첫자.첫자1 .하 {
    position: relative;
    background-image: url(../image/img1.jpg); 
    /* ../ 상위요소를 부르는것 
         / 하위요소를 부르는것
    ../ -> 나보다 상위요소인 css폴더에서 imgae폴더를 부르고 그 자식인 img1을 불러온것이다 */
    height: 100%;
/*     자식은 부모의 넓이만 높이를 따라가지 않기 때문에 예를 들어 이미지를 쓰게 되는 경우
    높이 지정을 해주는것이 좋다. */ 
    background-size: cover; /* 1차적으로 배경의 크기에 맞게 비율을 유지하면서 넓이를 맞추고 
    그 다음 높이를 맞춘다. 넓이만 맞추면 땡이기 때문에 특징상 사진이 다 안보일수 있다.  */
    background-position: center; 
/*     지금 아래위로 잘린 사진인데 사진이 정중앙의 부분이 보일수 있게 
    x축으로 중앙 y축으로 중앙 줬다.
    center의 경우 두번적을 필요없이 한번만 표기해도 된다. */

}

.전체 .첫째 .첫자.첫자1 .하 h4 {
    position: absolute;
    left: 50%; top: 50%; 
    /* 기준이 왼쪽 상단 꼭지점이기때문에 왼쪽 상단 꼭지점부분이 중앙에 오는 위치에 온다. */
    transform: translate(-50%,-50%);
}

.전체 .첫째 .첫자.첫자1 .상 {
    height: 100%;
    background-image: url(../image/img2.jpg);
    background-size: cover;
    background-position: center;
/*  이미지가 생겼는데 부모가 자식 높이를 안따라가는 이유는 위에
    높이값을 200px을 줬고 자식들의 높이는 부모의 100%로 설정 했기 때문에 */
    position: absolute;
    /* absolute가 되면 영역 붕괴 넓이 다시 설정해야함. */
    left: 100%; top: 0;
    width: 100%;
    transition: 0.3s;
}

.전체 .첫째 .첫자.첫자1:hover .상 {
    left: 0;
}

.전체 .첫째 .첫자.첫자1 .상 h4 {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.전체 .첫째 .첫자.첫자2 {
    position: relative;
    overflow: hidden;
}

.전체 .첫째 .첫자.첫자2>div/* div-> .상 .하 */ {
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
}

.전체 .첫째 .첫자.첫자2>div h4 {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.전체 .첫째 .첫자.첫자2 .상 {
    background-image: url(../image/img3.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
/*  z-index는 position이 있어야 사용 가능 함.
    (relative, absolute, fiexd)일때 사용 가능  */
    top: -100%;
    transition: 0.3s;
}

.전체 .첫째 .첫자.첫자2:hover .상 {
    top: 0;
}

.전체 .첫째 .첫자.첫자2 .상 h4 {

}

.전체 .첫째 .첫자.첫자2 .하 {
    background-image: url(../image/img4.jpg);
    background-size: cover;
    background-position: center;

    /* 상하 같이 앱솔루트를 주면 밑에있는게 올라간다. */
}

.전체 .첫째 .첫자.첫자2 .하 h4 {

}

.전체 .첫째 .첫자.첫자3 {
    position: relative;
    margin-right: 0;
}

.전체 .첫째 .첫자.첫자3>div/* (상,하를말함) */ {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0; top: 0;
    width: 100%;    
}

.전체 .첫째 .첫자.첫자3>div h4 {
    position: absolute;
    left: 50%; top: 50%;
    transform:  translate(-50%, -50%);
}

.전체 .첫째 .첫자.첫자3 .상 {
    background-image: url(../image/img5.jpg);
    z-index: 2; /* 1보다 많은수만 주면 됨. 숫자 큰쪽이 앞으로 나온다. */
    transform: scale(0.3);
    transition: 0.3s;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.39, 0.3, 0, 1.88);
}

.전체 .첫째 .첫자.첫자3:hover .상 {
    opacity: 1; /* 투명도 0일시 아예 투명이됨. */
    transform: scale(1);
    border-radius: 10%; /* 테두리 둥글게 하는거 */
}

.전체 .첫째 .첫자.첫자3 .하 {
    background-image: url(../image/img6.jpg);
}

.전체 .둘째 {
    background-color: green;
    /* %의 기준 */
    /* width --> 부모의 넓이 즉 .전체의 넓이 */
    /* height --> 부모(.전체)의 높이 단, 부모가 높이값이 있어야함
    %가 안 먹히는 경우가 있는데 그럴 때는 전체가 값을 안가지고 있는 경우
    부모의 높이의 경우는 자식의 높이의 총 합으로 결정 되기 때문에 따로 값을 지정해줘야
    %가 먹힌다. */
    width: 30%;
    height: 30%;
    padding: 5%;
    border: 5px solid red;
    margin-top: 5%;

    /* padding , margin은 단위가 %일시 상,하,좌,우 모두 부모의 넓이를 기준으로 한다. */
}
